 <div class="row-top">
          <div class="row-padding">
            <div class="wrapper">





<div class="col-1">
                <h4>Address:</h4>
                <dl class="address">
                  <dt><span>Country:</span>USA</dt>
                  <dd><span>City:</span>San Diego</dd>
                  <dd><span>Address:</span>Beach st. 54</dd>
                  <dd><span>Email:</span><a href="/static/static/cmstemplate/point/#">lcenter@mail.com</a></dd>
                </dl>
              </div>
              <div class="col-2">
                <h4>Follow Us:</h4>
                <ul class="list-services">
                  <li class="item-1"><a href="/static/static/cmstemplate/point/#">Facebook</a></li>
                  <li class="item-2"><a href="/static/static/cmstemplate/point/#">Twitter</a></li>
                  <li class="item-3"><a href="/static/static/cmstemplate/point/#">LinkedIn</a></li>
                </ul>
              </div>
              <div class="col-3">
                <h4>Why Us:</h4>
                <ul class="list-1">
                  <li><a href="/static/static/cmstemplate/point/#">Lorem ipsum dolor</a></li>
                  <li><a href="/static/static/cmstemplate/point/#">Aonsect adipisic</a></li>
                  <li><a href="/static/static/cmstemplate/point/#">Eiusmjkod tempor</a></li> 
                  <li><a href="/static/static/cmstemplate/point/#">Incididunt ut labore</a></li>
                </ul>
              </div>
              <div class="col-4">
                <div class="indent3">
                  <strong class="footer-logo">Point.<strong>co</strong></strong>
                  <strong class="phone"><strong>Toll Free:</strong> 1-800-567-8934</strong>
                </div>
              </div>



              </div>
          </div>
        </div>