<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}cms_plugins/cmsplugins-bootstrap-positions.css">

{% if object.gallery_type == "slider" %}
<script src="{{STATIC_URL}}responsiveslider/responsiveslides.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}responsiveslider/rslides.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}responsiveslider/rslides2.css">
    <div class="rslides_container hspace">
    <ul class="a{{random}}_rslides rslides">
        {% for img in object.image_set.all %}
            <li><img src="{{img.img.url}}"></li>
        {% endfor %}
    </ul>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.a{{random}}_rslides').responsiveSlides({
                auto: false,
                pager: true,
                nav: true,
                speed: 500,
                maxwidth: 800,
                namespace: "centered-btns"
            });
        });
    </script>
{% else %}
    <style type="text/css">
    .cmsweb-gallery div {
        margin: 0 5px 5px 0;
    }

    /* Bootstrap img */
    img {
      width: auto\9;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
      -ms-interpolation-mode: bicubic;
    }
    </style>

    <link rel="stylesheet" href="{{STATIC_URL}}lightbox/css/lightbox.css" type="text/css" media="screen" />

    <div class="cmsplugins-row-fluid cmsweb-gallery hspace">
        {% for img in object.image_set.all %}
            <div class="cmsplugins-span4" style="margin-left:0;">
                <a href="{{img.img.url}}" rel="lightbox[gallery]"><img src="{{img.img.url}}"></a>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
    var url_prefix = "{{STATIC_URL}}lightbox/";
    </script>

    <script src="{{STATIC_URL}}lightbox/js/jquery-1.7.2.min.js"></script>
    <script src="{{STATIC_URL}}lightbox/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{STATIC_URL}}lightbox/js/jquery.smooth-scroll.min.js"></script>
    <script src="{{STATIC_URL}}lightbox/js/lightbox.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('a').smoothScroll({
                speed: 1000,
                easing: 'easeInOutCubic'
            });
        });
    </script>
{% endif %}
