{% load i18n %}
<h3 style="line-height: 1.1em;">{% if link %}<a href="{{ link }}">{% endif %}{{ object.title }}{% if link %}</a>{% endif %}</h3>

<table style="margin-bottom:20px;"><tr><td style="width:110px">
{% if object.image %}
            {% if link %}<a href="{{ link }}">{% endif %}
                <img src="{{ object.image.url }}" alt="{{ object.title }}" style="margin-right:10px";/>
            {% if link %}</a>{% endif %}
        {% endif %}
</td><td>
     {% if object.description %}
<p>{{ object.description }}</p>

{% endif %}
{% if link %}<a href="{{ link }}">{% trans "more" %} &#187;</a>{% endif %}
</td></tr></table>


